.venv/
.venv*/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
.expo/
dist/
web-build/

.DS_Store
.vscode/
npm-debug.*
yarn-debug.*
yarn-error.*

.env.local
.env*.local

server/uploads/
server/models/
server/segment_outputs/
server/smoke_outputs/

project/results/
project/data/raw/

mobile/node_modules/
mobile/.expo/
mobile/dist/

project/.venv-gpu/
project/.venv-triposr/
project/.venv/

~$*.docx
