fastapi
uvicorn[standard]
python-multipart
numpy<2
pandas
pillow
matplotlib
opencv-python
scipy
trimesh==4.0.5
torch
torchvision
ultralytics
omegaconf==2.3.0
einops==0.7.0
transformers==4.35.0
huggingface-hub
imageio[ffmpeg]
xatlas==0.0.9
moderngl==5.10.0
scikit-image
rembg
onnxruntime
